<!doctype html>
<html lang="en">

<head>
  <title>Blog</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 class="mb-4 pagetitle">Blog Articles</h1>
    <div class="text-center"><a href="/articles/new" class="button newArticle">New Article</a></div>
    

    <% articles.forEach(article => { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= article.title %></h4>

        <div class="card-text mb-4 description"><%= article.description %></div>
        <div class="card-text mb-2"><%= article.markdown.substr(0,400) + '...' %></div>

        <div class="card-subtitle text-muted mb-2">
          <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="articles/<%=article.slug %> " class="button readMoreBtn mt-2">Read More</a>
        <a href="articles/edit/<%=article.id %> " class="button editBtn mt-2">Edit</a>
        <form action="/articles/<%= article.id  %>?_method=DELETE " method="POST" class="d-inline">
          <button type="submit" class="button deleteBtn mt-2">Delete</button></form>
      </div>
    </div>



    <%})%>

  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>